/interfacesBean/nbproject/private/
/interfacesBean/build/
/aplicacionEscritorio/nbproject/private/
/aplicacionEscritorio/build/
/prueba/nbproject/private/
/prueba/build/
/T01NetbeansJavierGonzalezRives/nbproject/private/
/T01NetbeansJavierGonzalezRives/build/
/T01JavierGonzalezRives/nbproject/private/
/T01JavierGonzalezRives/build/
/PongCompleto/nbproject/private/
/EXAMENnetbeansJavierGonzalezRives/nbproject/private/
/EXAMENnetbeansJavierGonzalezRives/build/