/interfacesBean/nbproject/private/
/interfacesBean/build/
/aplicacionEscritorio/nbproject/private/
/aplicacionEscritorio/build/
/prueba/nbproject/private/
/prueba/build/
/T01NetbeansJavierGonzalezRives/nbproject/private/
/T01NetbeansJavierGonzalezRives/build/
/T01JavierGonzalezRives/nbproject/private/
/T01JavierGonzalezRives/build/
/PongCompleto/nbproject/private/
/EXAMENnetbeansJavierGonzalezRives/nbproject/private/
/EXAMENnetbeansJavierGonzalezRives/build/
/pruebaQt/nbproject/private/
/pruebaQt/build/
/RepasoServicios/nbproject/private/
/RepasoServicios/build/
/PongCompleto/build/
/beanComponent/nbproject/private/
/beanComponent/build/
/beanComponent/dist/
/pruebaCom/nbproject/private/
/pruebaCom/build/
/Caso2Beans/nbproject/private/
/Caso2Beans/build/
/Caso2Beans/dist/
/caso2beansprueba/nbproject/private/
/caso2beansprueba/build/
/JavaApplication10/nbproject/private/
/ACCDATEjericicioClaseHibernate/nbproject/private/
/ACCDATEjericicioClaseHibernate/build/
/panelConLista/nbproject/private/
/panelConLista/build/
/panelConLista/dist/
/panelConListaPrueba/nbproject/private/
/panelConListaPrueba/build/
/dosRaquetas/nbproject/private/
/dosRaquetas/build/
/caso2beanPruebaPrueba/nbproject/private/
/caso2beanPruebaPrueba/build/
/beansTemporizadorPrueba/nbproject/private/
/beansTemporizadorPrueba/build/
/beanLabel/nbproject/private/
/beanLabelPrueba/nbproject/private/
/beanLabel/build/
/beanLabel/dist/
/beanLabelPrueba/build/
/ComponenteMiTexto/nbproject/private/
/ComponenteMiTexto/build/
/ComponenteMiTexto/dist/
/ComponenteTexto/nbproject/private/
/ComponenteTexto/build/