/interfacesBean/nbproject/private/
/interfacesBean/build/
/aplicacionEscritorio/nbproject/private/
/aplicacionEscritorio/build/
/prueba/nbproject/private/
/prueba/build/
/T01NetbeansJavierGonzalezRives/nbproject/private/
/T01NetbeansJavierGonzalezRives/build/
/T01JavierGonzalezRives/nbproject/private/
/T01JavierGonzalezRives/build/
/PongCompleto/nbproject/private/
/EXAMENnetbeansJavierGonzalezRives/nbproject/private/
/EXAMENnetbeansJavierGonzalezRives/build/
/pruebaQt/nbproject/private/
/pruebaQt/build/
/RepasoServicios/nbproject/private/
/RepasoServicios/build/
/PongCompleto/build/
/beanComponent/nbproject/private/
/beanComponent/build/
/beanComponent/dist/
/pruebaCom/nbproject/private/
/pruebaCom/build/
/Caso2Beans/nbproject/private/
/Caso2Beans/build/
/Caso2Beans/dist/
/caso2beansprueba/nbproject/private/
/caso2beansprueba/build/
/JavaApplication10/nbproject/private/
/ACCDATEjericicioClaseHibernate/nbproject/private/
/ACCDATEjericicioClaseHibernate/build/
/panelConLista/nbproject/private/
/panelConLista/build/
/panelConLista/dist/
/panelConListaPrueba/nbproject/private/
/panelConListaPrueba/build/
/dosRaquetas/nbproject/private/
/dosRaquetas/build/
/caso2beanPruebaPrueba/nbproject/private/
/caso2beanPruebaPrueba/build/
/beansTemporizadorPrueba/nbproject/private/
/beansTemporizadorPrueba/build/
/beanLabel/nbproject/private/
/beanLabelPrueba/nbproject/private/
/beanLabel/build/
/beanLabel/dist/
/beanLabelPrueba/build/
/ComponenteMiTexto/nbproject/private/
/ComponenteMiTexto/build/
/ComponenteMiTexto/dist/
/ComponenteTexto/nbproject/private/
/ComponenteTexto/build/
/ComponenteTextoPrueba/nbproject/private/
/ComponenteTextoPrueba/build/
/ComponentesEjercicio3TextArea/nbproject/private/
/ChatConComandos/nbproject/private/
/ChatConComandos/build/
/ComponentesEjercicio2/nbproject/private/
/ComponentesEjercicio2TextAreaPrueba/nbproject/private/
/ComponentesEjercicio3TextArea/dist/
/ComponentesEjercicio3TextArea/build/
/ComponentesEjercicio2TextAreaPrueba/build/
/ComponentesEjercicio3real/nbproject/private/
/ComponentesEjercicio3real/dist/
/ComponentesEjercicio3real/build/
/ComponentesEjercicio3realPrueba/nbproject/private/
/ComponentesEjercicio3realPrueba/build/
/jhkhkjh/nbproject/private/
/dfgdgh/nbproject/private/
/dfgdgh/build/
/dfgdgh/dist/
/prueba22/nbproject/private/
/otraprueba/nbproject/private/
/jhkhkjh/build/
/ComponentesEjercicio4prueba/nbproject/private/
/AnagramGame/nbproject/private/
/AnagramGame/build/
/ComponentesEjercicio4prueba/build/
/ComponentesEjercicio4prueba/dist/
/ComponentesEjercicio3realPrueba/dist/
/CheckSum/nbproject/private/
/UI/U04_Usabilidad01/dist/
/Cifrado/nbproject/private/
/Cifrado/build/
/NuevoTemporizador/nbproject/private/
/NuevoTemporizador/build/
/NuevoTemporizador/dist/
/otraprueba/build/
/encriptadoaGrafico/nbproject/private/
/encriptadoaGrafico/build/
/grubPatatasJavierGonzalezRives/nbproject/private/
/grubPatatasJavierGonzalezRives/build/
/grubPatatasJavierGonzalezRives/dist/
/DI_T04_03_Javier_GonzalezRives/grubPatatasJavierGonzalezRives/build/
/DI_T04_03_Javier_GonzalezRives/grubPatatasJavierGonzalezRives/dist/
/DI_T04_03_Javier_GonzalezRives/grubPatatasJavierGonzalezRives/nbproject/private/
/ChatConComandos_Encriptado/nbproject/private/
/ChatConComandos_Encriptado/build/
/clienteTcpEncriptado/nbproject/private/
/clienteTcpEncriptado/build/
/primeraprueba/target/
/clienteTcpEncriptado_conInterfaz/nbproject/private/